/*
colors :
#3F51B5 bleu formulaire login
#155263 bleu sombre
#ff6f3c orange sombre
#ff9a3c orange clair
#ffc93c jaune
*/


/* General */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

label {
	 color: #ffffff;
}


.title {
	font-weight: bold;
    color: white;
} 

.error {
	font-weight: bold;
	color: #ff0000;
    text-decoration: underline #ff0000;
	text-align: center;
}

.success {
	font-weight: bold;
	color: darkorange;
	text-decoration: underline darkorange;
	text-align: center;
}

.username {
	color: darkorange;
	text-decoration: underline darkorange;
}

.connectedTitle {
	text-align: center;
}

.displayQuestion {
	text-align: center;
	font-size: 25px;
}

a:hover {
    color: #ff6f3c;
}

.questionCard {
    text-align: center;
    width: 100%;
}


/* Banner */
.banner {
	/*display: flex;*/
	width: 100%;
	height: 70px;
	background-color: #ff6f3c;
	color: #155263;
	text-align: center;
}

/* Bouton */
.boutonHome {
	width: 100%;
}

/* Textarea */
.contentTextarea {
	height:200px;
}